.about {
  width: 100%;
  background-color: #00838F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-background {
  display: flex;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  width: 100%;
  height: 100vh;

}

.about-text {
  position: absolute;
  color: #fff;
  text-align: center;
}

.socials {
  display: inline-flex;
  list-style-type: none;
  color: #fff;
}

.about-social__github {
  background-image: url("../images/github.svg");
  height: 100px;
  width: 100px;
}

.about-social__linkendin {
  background-image: url("../images/linkendin.png");
  background-size: cover;
  height: 30px;
  width: 30px;
}




